<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
    <ion-list *ngIf="showResults==true">
      <div  *ngFor="let p of productsList"  >
        <ion-item (click)="openProductPage(p)">
          <ion-thumbnail slot="start">
            <ion-img [src]="p.image"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <p>{{p.category}}</p>
            {{ p.title }}<br>
            <b>{{ p.price | currency:'INR' }}</b>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
    <div *ngIf="showResults==false" class="emptySearch">Search your products here</div>
  </div>
</ion-content>
