.totalPrice{
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.noCartItems{
  font-size: 20px;
  color:#27AE60;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
