<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button joyrideStep="step1" [text]="setContent[0]" color="dark" [prevTemplate]="prevButton"
        [nextTemplate]="nextButton" [doneTemplate]="doneButton" (next)="scrollView()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSearch()">
        <ion-icon name="search-outline" class="cart" joyrideStep="step12" [text]="setContent[4]"></ion-icon>
      </ion-button>
      <ion-icon name="help-circle-outline" class="cart" joyrideStep="step13" [text]="setContent[5]"
        (click)="startTour()" (done)="finishTour()"></ion-icon>
      <ion-icon name="cart-outline" class="cart"></ion-icon>
      <ion-text class="count" *ngIf="cartLen.length!=0">{{cartLen.length}}</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="hero__item set-bg" [ngStyle]="{backgroundImage:'url(assets/img/hero/banner.jpg)'}"
            joyrideStep="step8" title="Categories" [text]="setContent[1]">
            <div class="hero__text">
              <span>FRUIT FRESH</span>
              <h2>Vegetable <br />100% Organic</h2>
              <a href="" class="primary-btn">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="cropSeeds p-1 mg10" joyrideStep="step2" title="Categories" [text]="setContent[1]" #categories
    (next)="scrollView('seed')">
    <div lines="none" class="d-flex  justify-content-between  align-items-center pd-5">
      <div>
        <ion-text class="headings">Categories</ion-text>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds" (click)="route('Seeds')" joyrideStep="step3" title="View Products" #seed [text]="setContent[2]"
        (next)="scrollView('viewAll')">
        <ion-img class="seedsImg" src="assets/img/seeds/organic.jpg"></ion-img>
        <p>Crop Seeds</p>
      </div>
      <div class="seeds" (click)="route('Seeds')">
        <ion-img class="seedsImg" src="assets/img/forage.png"></ion-img>
        <p>Forage Seeds</p>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds" (click)="route('Seeds')">
        <ion-img class="seedsImg" src="assets/img/seeds/tomato.jpg"></ion-img>
        <p>Vegatables Seeds</p>
      </div>
      <div class="seeds" (click)="route('Machines')">
        <ion-img class="seedsImg" src="assets/img/spray.jpg"></ion-img>
        <p>Spray parts</p>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img class="seedsImg" src="assets/img/categories/cat-1.jpg"></ion-img>
        <p>Fruits</p>
      </div>
      <div class="seeds" (click)="route('Vegetables')">
        <ion-img class="seedsImg" src="assets/img/categories/cat-3.jpg"></ion-img>
        <p>Vegatables</p>
      </div>
    </div>
  </div>

  <div class="cropSeeds p-1 mg10">
    <div lines="none" class="d-flex  justify-content-between  align-items-center pd-5">
      <div>
        <ion-text class="headings">Crop Seeds</ion-text>
        <p>Hybrids & improved seeds</p>
      </div>
      <button slot="end" class="viewAll" joyrideStep="step4" title="View All" [text]="setContent[3]" #viewAll>View
        All</button>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img class="seedsImg" src="assets/img/seeds/organic.jpg"></ion-img>
        <p>organic</p>
      </div>
      <div class="seeds">
        <ion-img class="seedsImg" src="assets/img/seeds/organic.jpg"></ion-img>
        <p>organic</p>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img class="seedsImg" src="assets/img/seeds/peas.jpg"></ion-img>
        <p>Peas</p>
      </div>
      <div class="seeds">
        <ion-img class="seedsImg" src="assets/img/seeds/tomato.jpg"></ion-img>
        <p>Tomato</p>
      </div>
    </div>
  </div>

  <div class="cropSeeds p-1 mg10">
    <div lines="none" class="d-flex  justify-content-between  align-items-center my-2 pd-5">
      <div>
        <ion-text class="headings">Vegetables</ion-text>
      </div>
      <button slot="end" class="viewAll">View All</button>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img src="assets/img/vegetables/Greencollard.jpg"></ion-img>
        <p class="vegetablesText">Green collard</p>
      </div>
      <div class="seeds">
        <ion-img src="assets/img/vegetables/Onion-Yellow.jpg"></ion-img>
        <p class="vegetablesText">Yellow onion</p>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img src="assets/img/vegetables/garlic.jpg"></ion-img>
        <p class="vegetablesText">Garlic</p>
      </div>
      <div class="seeds">
        <ion-img src="assets/img/vegetables/Brinjal.jpg"></ion-img>
        <p class="vegetablesText">Brinjal </p>
      </div>
    </div>
  </div>

  <div class="cropSeeds p-1 mg10">
    <div lines="none" class="d-flex  justify-content-between  align-items-center my-2 pd-5">
      <div>
        <ion-text class="headings">Machinary</ion-text>
      </div>
      <button slot="end" class="viewAll">View All</button>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img src="assets/img/machines/engine.png"></ion-img>
        <p class="vegetablesText">Engine</p>
      </div>
      <div class="seeds">
        <ion-img src="assets/img/machines/spraypump.png"></ion-img>
        <p class="vegetablesText">Spray pump</p>
      </div>
    </div>
    <div lines="none" class="d-flex justify-content-center">
      <div class="seeds">
        <ion-img src="assets/img/machines/trolley.png"></ion-img>
        <p class="vegetablesText">Trolley</p>
      </div>
      <div class="seeds">
        <ion-img src="assets/img/machines/RotoSeedDrill.png"></ion-img>
        <p class="vegetablesText">Roto Seed Drill </p>
      </div>
    </div>
  </div>

</ion-content>
<ng-template #prevButton>
  <ion-button size="small">
    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
  </ion-button>
</ng-template>
<ng-template #nextButton>
  <ion-button size="small">
    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
  </ion-button>
</ng-template>
<ng-template #doneButton>
  <ion-button size="small">Done</ion-button>
</ng-template>
